<%= form_tag '/sessions' do %>
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email, params[:email] %>
  <br>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password, params[:password] %>
  <br>
  <%= submit_tag "Login" %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
